<div id="coloredDiv">
</div>

<script>
    setInterval(function () {
        const randomColor = Math.floor(Math.random() * 16777215).toString(16);
        document.getElementById("coloredDiv").style.backgroundColor = "#" + randomColor;
    }, 1000);
</script>