<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>InWeb Task</title>

    <!-- 👇 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 👆 -->

    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!-- 👇 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 60px;">
        <a class="navbar-brand" href="/">InWebTask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/palindrome">Palindrome</a>
                <a class="nav-item nav-link" href="/anagram">Anagram</a>
                <a class="nav-item nav-link" href="/rotation">Rotation</a>
                <a class="nav-item nav-link" href="/reverse">Reverse</a>
                <a class="nav-item nav-link" href="/frequency">Frequency</a>
                <a class="nav-item nav-link" href="/random-string">Random String</a>
                <a class="nav-item nav-link" href="/visual-alignment">Visual Alignment</a>
                <a class="nav-item nav-link" href="/title-case">Title Case</a>
                <a class="nav-item nav-link" href="/color-transition">Color Transition</a>
                <a class="nav-item nav-link" href="/intersection">Intersection</a>
            </div>
        </div>
    </nav>
    <!-- 👆 -->
    <div class="viewWrapper">
        {{{ body }}}
    </div>
</body>

</html>