<div class="container paddingTop">
    <form method='GET' action="/palindrome/check">
        <div class="form-group">
            <label for="str">Enter the text that will be checked:</label>
            <input type="text" id="str" name="str" />
        </div>
        <div class="form-group">
            <input  type="submit" class="btn btn-primary" value="Check" />
        </div>
    </form>
</div>